language: python
python:
  - 3.6
services:
  - docker
install:
  - docker build -t max-facial-age-estimator .
  - docker run -it -d -p 5000:5000 max-facial-age-estimator
  - sleep 10
before_script:
  - pip install pytest requests opencv-python numpy
script:
- pytest tests/test.py
